:root {
    --headerHeight: 90px;
}


button {
    border: none; 
    background-color: #2A2B2E;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

a{
    justify-self: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

button:hover {
    background: linear-gradient(90deg, rgba(16,152,247,1) 10%, rgba(0,212,255,1) 100%);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #2A2B2E;
    color: white;
}

header {
    width: auto;
    background-color: #2A2B2E;
    height: var(--headerHeight);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    align-items: center;
    margin: 0 10px; 
    border-bottom: 0.75px rgb(255, 255, 255) solid;
}

.categoryButton {
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}
.categoryButton:hover {
    box-shadow: 0 0 30px 1px #2e57d3;
    z-index: 1;
}
/* Dropdown styles */
#dropdown {
    position: relative;
    height: 40px;
}

#dropdownButton {
    height: 100%;
    width: 100%;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer; 
    text-align: center;
}

#dropdownButton:hover {
    box-shadow: 0 0 30px 1px #2e57d3;
}

#dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    color: #ffffff;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.349);
    background: #2e2f32;
    z-index: 1;
    border-radius: 5px;
}

#dropdown:hover #dropdownContent {
    display: flex; 
    flex-direction: column;
}

.dropdownItem {
    transform: translateX(-20px);
    transition: transform 0.3s ease-in-out;
    background: #2e2f32;
}

#dropdown:hover .dropdownItem {
    transform: translateX(0);
}




/* Main Page */
#aboutSection{
    white-space: pre-line;
}


#main {
    margin: 15px;
    min-height: 350px;
}

footer {
    height: 150px;
    background: #1e2022;
    padding: 30px;
    display: grid;
    margin-top: 100px;

    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

#footerItems{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Start button stuff */
#startButton {
    margin: 15px;
    width: fit-content;
    justify-self: center;
}

#startButtonBorder {
    border: 1px #ffffff solid;
    padding: 10px;

    height: 25vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
}

#startButtonContainer{
    margin: 30px 15px 0px 15px;
}

#optionsForm{
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px 0px;
    height: 100%;

    border-bottom: #d2d2d2 1px solid;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.questionBox {
    font-size: 20px;
}


/*Question Container*/
.questionContainer{
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px #ffffff solid;
    transform: translateX(-100%);
    opacity: 0;
    padding: 10px;
    width: 100%;
    height: 25vw;
}

.shownQuestion {
    animation: wobble 1.6s ease-in-out forwards;
}

form {
    padding: 10px 0px;
    margin-left: 25%;
    margin-right: 25%;
}

.answerBox:focus{
    background-color: white;
}

.rightOrWrongText{
    height: 29.33px;
    font-size: 15px;
}

#scoreUI{
    margin-bottom: 10px;
    font-size: 15px;
}

.answerBox {
    width: 75%;
    height: 28px;
    border: none;
    border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;

    outline: none;
    transition: all 0.3s ease-in;
    background-color: #d2d2d2;

    margin-top: 15px;
    margin-bottom: 15px;
}

#submit{
    width: 80px;
    height: 30px;
    background: #2c9cff;
}

#submit:hover{
    box-shadow: 0 0 20px 0.5px #2e57d3;
    z-index: 1;
}

/*Search options*/
#searchMain{
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    gap: 20px;

    min-height: 350px;
}

#searchBar{
    margin: 30px 40px 15px 40px;
}

#searchBarInput{
    color: #ffffff;
    background:#1e2022;
    outline: none;
    border-radius: 20px;
    border: none;

    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px 10px 40px;

    background-image: url('Icons/searchBarIcon.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 25px;
}

input::-webkit-search-cancel-button{
    display: none;
}

input[type="search"]{
    -webkit-appearance: none;
}

.optionClass {
    text-align: center;
    align-content: center;
    margin: 2vw;
    font-size: 2vw;
    border: 2px #2c9cff solid;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: grid;
}


.optionClass::after{
    content: '';
    position: absolute;
    width: -webkit-fill-available;
    height: 50px;
    background-color: #2c9cff;
    transform: translateY(95px);
    transition: transform 0.25s ease-out;
}

.optionClass:hover{
    cursor: pointer;
}

.optionClass:hover::after{
    transform: translateY(67px);
}

.selectorContainer{
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    gap: 10px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.multipleChoiceOption{
    height: 4vw;
    font-size: 20px;
    background-color: #2c9cff;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(27, 27, 27);

    cursor: pointer;
    
    transition: scale 0.4s ease-in-out, background-color 0.5s;

    text-align: center;
    align-content: center;
}

.multipleChoiceSelected{
    background-color: #18609f;
    
    scale: 0.96;
}


@keyframes wobble {
    0% { transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}


.scrollWatcher{
    display: none;
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #2c9cff;
    width: 100%;
    transform-origin: left;

    scale: 0 1;
    animation: scrollBarTop linear;
    animation-timeline: scroll();
    
}

@keyframes scrollBarTop{
    to {scale: 1 1;}
}


@media only screen and (max-width: 600px){
    :root {
        --headerHeight: 20vw;
    }

    .multipleChoiceOption{
        font-size: 2vw;
    }

    #submit{
        width: 15vw;
        font-size: 3vw;
    }

    .questionBox {
        font-size: 3vw;
    }

    .answerBox {
        width: 75%;
        height: 28px;
    
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /*Search media query*/
    #searchMain{
        margin: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 120px;
        gap: 20px
    }



    .optionClass {
        font-size: 20px;
    }

    .rightOrWrongText{
        font-size: 3vw;
    }

    .categoryButton{
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    form {
        margin-left: 0%;
        margin-right: 0%;
    }

    footer {
        font-size: 13px;
    }
    
}