:root {
    --headerHeight: 90px;
}


button {
    border: none; 
    background-color: #2A2B2E;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

a{
    justify-self: center;
}

button:hover {
    background: linear-gradient(90deg, rgba(16,152,247,1) 10%, rgba(0,212,255,1) 100%);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #2A2B2E;
    color: white;
}

header {
    width: auto;
    background-color: #2A2B2E;
    height: var(--headerHeight);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    align-items: center;
    margin: 0 10px; 
    border-bottom: 0.75px rgb(255, 255, 255) solid;
}

.categoryButton {
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}
.categoryButton:hover {
    box-shadow: 0 0 30px 1px #2e57d3;
    z-index: 1;
}
/* Dropdown styles */
#dropdown {
    position: relative;
    height: 40px;
}

#dropdownButton {
    height: 100%;
    width: 100%;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer; 
    text-align: center;
}

#dropdownButton:hover {
    box-shadow: 0 0 30px 1px #2e57d3;
}

#dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    color: #ffffff;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.349);
    background: #2e2f32;
    z-index: 1;
    border-radius: 5px;
}

#dropdown:hover #dropdownContent {
    display: flex; 
    flex-direction: column;
}

.dropdownItem {
    transform: translateX(-20px);
    transition: transform 0.3s ease-in-out;
    background: #2e2f32;
}

#dropdown:hover .dropdownItem {
    transform: translateX(0);
}




/* Main Page */
#main {
    margin: 15px;
}

/* Start button stuff */
#startButton {
    margin: 15px;
}

#startButtonBorder {
    border: 1px #ffffff solid;
    padding: 10px;

    width: 50%;
    height: 25vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#startButtonContainer{
    margin: 30px 15px 0px 15px;
}


/*Question Container*/
.questionContainer{
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px #ffffff solid;
    padding: 10px;
    width: 100%;
    height: 25vw;
}

form {
    padding: 10px 0px;
    margin-left: 25%;
    margin-right: 25%;
}

.answerBox:focus{
    background-color: white;
}

.rightOrWrongText{
    height: 29.33px;
}

#scoreUI{
    margin-bottom: 10px;
}

.answerBox {
    width: 75%;
    height: 28px;
    border: none;
    border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;

    outline: none;
    transition: all 0.3s ease-in;
    background-color: #d2d2d2;

    margin-top: 15px;
    margin-bottom: 15px;
}

#submit{
    width: 80px;
    height: 30px;
    background: linear-gradient(90deg, rgba(16,152,247,1) 10%, rgb(82, 197, 255) 100%);
}

#submit:hover{
    box-shadow: 0 0 20px 0.5px #2e57d3;
    z-index: 1;
}

/*Search options*/
#searchMain:not(:last-child){
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px
}




.optionClass {
    text-align: center;
    align-content: center;
    margin: 2vw;
    font-size: 2vw;
    border: 2px #2c9cff solid;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: grid;
}


.optionClass::after{
    content: '';
    position: absolute;
    width: -webkit-fill-available;
    height: 50px;
    background-color: #2c9cff;
    transform: translateY(95px);
    transition: transform 0.25s ease-out;
}

.optionClass:hover{
    cursor: pointer;
}

.optionClass:hover::after{
    transform: translateY(67px);
}


@media only screen and (max-width: 600px){
    :root {
        --headerHeight: 20vw;
    }

    button{
        font-size: 2.5vw;
    }

    #submit{
        width: 15vw;
    }



    /*Search media query*/
    #searchMain:not(:last-child){
        margin: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px
    }

    .optionClass {
        font-size: 20px;
    }
}